 <!DOCTYPE html>
<html>
<head>
<title>Bienvenido</title>
</head>
<body>

<h1>Secciones</h1>

<p>
<a href="centrosmedicos">Ir a centros médicos</a><br>
<a href="medicos">Ir a médicos</a><br>
<a href="pacientes">Ir a pacientes</a><br>
<a href="visitas">Ir a visitas</a><br>
</p>

</body>
</html> 