 <!DOCTYPE html>
<html>
<head>
<title>Correo de bienvenida</title>
</head>
<body>

<h1>Bienvenido a la plataforma de centros médicos de valencia</h1>
<p>Ya has sido dado de alta en el sistema.</p>

</body>
</html> 